/*
.item-custom{
    background-color: darkgreen;
}
*/
.settings-formato{
    padding-top: 20px;
}

.fondo-transparente{
    margin-top: 35px;
    background: rgba(255,255,255, 0.4);
    /*height: 100%;*/
   
}

.page-settings{
    background: url('../img/BackGroundDefault.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*margin-top: 55px;*/
    background-position: center top;
    /*padding-top: 20px;*/
    /* overscroll-behavior: none; */
    position: static;
}

.button-settings{
    margin-top: 20px;
}

.input-color{
    color: black;
}


.navbar-tipo-letra{
    color:white;
    /*opacity: 1 !important;*/
    font-family: font-navbar;
}

.margen{
    top: 30px;
   

}

.item-backgound{
    background-color: white;
}

/*
.list .item-content{
    background-color: white;
}
*/

.toggle-hight{
    padding-top: 10px;
    height: 50px;
}

.toggle-position{
    padding-left: 50px;
}

.notification-texto{
    padding-left: 15px;
}