<div class="page img_show_info" data-name="detalle-goleo">
    <!-- NavBar  navbar-transparent  -->
    <div class="navbar" id="navbar-detalle-goleo">

      <div class="navbar-bg"></div>   
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
              <i class="f7-icons icon-custom">arrow_left</i>
            </a>
        </div>
        <div class="title navbar-tipo-letra">Detalle de Goleo</div>
        <div class="right">
         
        </div>
      </div>
 
    </div>

    <!-- Bottom Toolbar -->
    <div class="toolbar toolbar-bottom toolbar-custom">
      <div class="toolbar-inner">
        <!-- Toolbar links -->
        <a href="/home/" class="link">
          <i class="icon f7-icons color-white">start</i>
          <span class="my-color-off">Inicio</span>
        </a>
       
      </div>
    </div>
   
    <div class="page-content">

      <div class="block-detalle-datjugador" id="show-dat-jugador">
         <!-- Esto se arma en la function detalle_goleo_functions.ShowNomJugador
        <div class="nom_jugador">Joaquín Flores García</div>
        <div class="nom_equipo">Pumas</div>
        <div class="row">
          <div class="col num_playera">Playera: 125</div>
          <div class="col num_playera" id="total_goles">Goles: 45</div>
        </div>
        -->
      </div>
        

      <div class="list list-cedula-sel" id="lista-detalle">
      <!--
        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-10</div>
              </div>
          </div>
          <div class="block det-goles">
              <div class="row">
                  <div class="col">12</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">RUBY Y SUS SECUACES</div>
              </div>
          </div>

        </div>

        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-9</div>
              </div>
          </div>
          <div class="block det-goles">

              <div class="row">
                  <div class="col">5</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
              
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">CHAPULINES</div>
              </div>
          </div>

        </div>

        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-8</div>
              </div>
          </div>
          <div class="block det-goles">

              <div class="row">
                  <div class="col">3</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
              
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">MAMBO SOCCER</div>
              </div>
          </div>

        </div>

        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-7</div>
              </div>
          </div>
          <div class="block det-goles">

              <div class="row">
                  <div class="col">1</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
              
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">DICONSA</div>
              </div>
          </div>

        </div>

        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-6</div>
              </div>
          </div>
          <div class="block det-goles">

              <div class="row">
                  <div class="col">2</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
              
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">CASAS JAVER</div>
              </div>
          </div>

        </div>

        <div class="block img-background">
          <div class="block fecha-juego">
              <div class="row">
                  <div class="col" id="fecha-hora-juego">18/07/2020 22:30 J-5</div>
              </div>
          </div>
          <div class="block det-goles">
              <div class="row">
                  <div class="col">10</div>
             
                <div class="row">
                    <div class="col icon-det-goles"><img src="../img/Balon.ico" width="40"/></div>
                </div>
              </div> 
          </div>
          
          <div class="block det-goleo-equipo">
              <div class="row">
                  <div class="col" id="equipo-local">ESPAÑA</div>
              </div>
          </div>

        </div>
      -->

      </div> 

      

    </div>
  
</div>