.img_home{
    width: 100%;
    height: 100%;
}

/* Esto por el momento para customizar un icon no funciona */
.icon-myicon {
    background-image: url('../img/balon.png');
}

.my-color-on{
    color: RGB(0,153,0);
}

.my-color-off{
    color: white;
}

/* Active/tapped state */
.my-link.active-state {
    color: blue;
}

