.img_home{
    background-size: cover;
    background-image: url(../img/BackGroundDefault.png);
}

/* Esto por el momento para customizar un icon no funciona */
.icon-myicon {
    background-image: url('../img/balon.png');
}

/*
.my-color-on{
    color: RGB(0,153,0);
}*/

.my-color-off{
    color: white;
}

/* Active/tapped state */
.my-link.active-state {
    color: blue;
}

.list{
    margin-top: 15px;
}

.block-torneo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.torneo{
    width: 100%;
    overflow: hidden;
}

    
.torneo img{
    width: 100%;
    height: auto;
  }

 