
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: "font-navbar";
    src: url("../fonts/Roboto-Regular.ttf");  /* Give relative path to your css file.*/
}

/*
@font-face {
    font-family: "font-fight";
    src: url("../fonts/Great Fighter Demo.ttf"); 
} 
*/




.dialog-title{
    background-color: RGB(0,153,0);
    font-family: font-navbar;;
    text-align: center;
    border-radius: 5px;
    /*font-weight: bold;*/
}

/* Configuración para el botón del Alert */
.dialog-button.dialog-button-bold{
    background-color: RGB(0,153,0);
    color: white;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

:root {
    /*--f7-navbar-bg-color: orange ;
    --f7-panel-bg-color: RGB(33,33,33);
    --f7-font-family: 'DS-POINT', 'Roboto', system-ui, Noto, Helvetica, Arial, sans-serif;
    --f7-preloader-modal-bg-color: rgba(243, 162, 11, 0.8);*/
    --f7-notification-title-color: RGB(0,153,0);
    --f7-notification-title-font-weight: 600;
    --f7-notification-title-font-size: 20px;
    --f7-notification-icon-size: 20px;
    --f7-toolbar-bg-color: black;
    --f7-theme-color: RGB(0,153,0);
    /*--f7-navbar-bg-color: orange ;
    --f7-list-bg-color: transparent !important;*/
    /*--f7-navbar-bg-color: transparent !important;*/
    --f7-navbar-bg-color: black;

    --f7-menu-bg-color: transparent !important;

    --f7-table-head-text-color: orange;
    --f7-table-head-font-size: 14px;
    
    --f7-tabbar-link-inactive-color: white;

    --f7-list-item-after-font-size: 25px;
    --f7-list-item-after-font-weight: bold;
    --f7-list-item-title-text-color: rgb(239,160,65); /*RGB(0,255,0); Nombre jugador en tabla de goleo */
    --f7-list-item-footer-text-color: white;
    --f7-list-item-after-text-color: white; /* Total de goles en la tabla de goleo */
    --f7-list-chevron-icon-color: greenyellow; /* rgb(239,160,65);  Icon en tabla de goleo ">" */

    --f7-toggle-height: 20px;
    --f7-toggle-width: 45px;
    

  }



